*,
body,
html,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
li {
    font-family: 'Google Sans';
    font-weight: bold;
    font-style: normal;
    text-align: initial;
}

body {
    overflow-x: hidden;
    width: 100%;
    font-family: 'Cairo', sans-serif;
}

body.no-scroll {
    overflow: hidden;
}

:root {
    --white: #fff;
    --primary: #FAA61A;
    --bg-color: #F5FBFE;
    --text-light: #8EA0A9;
    --text-dark: #3a3a3a;
    --text-dark2: #6d6d6d;
    --text-black: #000;
    --item_bg: #f1f1f1;
}

header {
    background: var(--bg-color);
}

header .navbar .navbar-brand img {
    max-width: 275px;

}

header .navbar .follow_us h2 {
    color: var(--text-light);
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0 13px;
    margin: 0;
}

header .navbar .follow_us .icon_box {
    margin: 0 -10px;
}

header .navbar .follow_us .icon_box a {
    text-align: center;
    padding: 0 10px;
}

header .navbar .follow_us .icon_box a img {
    width: 24px;
}

header .navbar .follow_us .icon_box i {
    width: 20px;
    color: var(--text-light);
    font-size: 1.5rem;
    text-align: center;
}

#All_Products .container-fluid {
    max-height: 990px;
    overflow: hidden;
    transition: all .5s;
}

#All_Products.fullHight .container-fluid {
    max-height: unset;
}

.header_spacebar {
    display: block;
    width: 100%;
    height: 112px;
    background: var(--bg-color);
}

.primary_button {
    background: var(--primary);
    color: var(--white) !important;
    height: 55px;
    margin: 0;
    display: block;
    width: 100%;
    border: none !important;
    box-shadow: none !important;
    font-weight: 500;
    font-size: 1.1rem;
    transition: all .3s;
    position: relative;
}

.primary_button a {
    text-decoration: none;
    color: var(--white) !important;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    display: flex;
    align-items: center;
}

.primary_button:hover {
    box-shadow: 0 8px 11px -8px rgba(0, 0, 0, 0.3) !important;
    top: -1px;
    transition: all .3s;
}

.primary_button.btn-outline {
    border: 2px solid var(--primary) !important;
    background: none !important;
    color: var(--primary) !important;
}

.primary_button.btn-outline a {
    color: var(--primary) !important;
}

.primary_button span {
    position: relative;
    z-index: 99;
    display: block;
    margin: auto;
    text-align: center;
    width: 100%;
}

.primary_button:hove {
    color: var(--white) !important;
}

.primary_button:hover::before {
    width: 100%;
    height: 100%;
}

form .form-group textarea,
form .form-group input {
    background: var(--bg-color) !important;
    border: none;
    padding: 11px 23px;
    min-height: 63px;
    border-radius: 15px;
    font-size: 1.1rem;
    color: var(--text-black)!important;
    font-weight: 700;
    border: none !important;
    box-shadow: none !important;
    font-family: 'Google Sans'!important;
}

form .form-group textarea::-webkit-input-placeholder,
form .form-group input::-webkit-input-placeholder {
    color: var(--text-light);
    font-weight: 700;
    opacity: .5;
    font-family: 'Google Sans'!important;
}

form .form-group textarea:-ms-input-placeholder,
form .form-group input:-ms-input-placeholder {
    color: var(--text-light);
    font-weight: 700;
    opacity: .5;
    font-family: 'Google Sans'!important;
}

form .form-group textarea::placeholder,
form .form-group input::placeholder {
    color: var(--text-light);
    font-weight: 700;
    opacity: .5;
    font-family: 'Google Sans'!important;
}

h2.heading {
    margin: 0;
    color: var(--text-black);
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 2.3rem;
}

h3.sub_heading {
    margin: 0;
    color: var(--text-black);
    padding-bottom: 25px;
    font-weight: 600;
    font-size: 1.25rem;
}

.padding-top {
    padding-top: 60px;
}

.padding-bottom {
    padding-bottom: 60px;
}

.banner {
    background: var(--bg-color);
}

.banner .banner_text h3 {
    margin: 0;
    color: var(--text-black);
    font-size: 1.2rem;
    padding-bottom: 10px;
}

.banner .banner_text h1 {
    margin: 0;
    color: var(--text-black);
    font-size: 2.35rem;
    padding-bottom: 20px;
}

.banner .banner_text {
    padding-bottom: 20px;
}

.banner .btn_box .row {
    margin: 0 -6px !important;
}

.banner .btn_box .row .col-6 {
    padding: 0 6px !important;
}

.products {
    background: var(--white);
}

.products .row .carousel_btn i {
    text-align: center;
    color: var(--text-light);
    cursor: pointer;
    font-size: 1.5rem;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    line-height: 25px;
    margin: auto;
    transition: all .3s;
    position: relative;
    z-index: 999;
    /* background: var(--white); */
}

.products .row .carousel_btn:hover i {
    color: var(--white);
    z-index: 99;
    background: var(--primary);
}

.products .nav-tabs {
    position: relative;
    top: -3px;
}

.products .nav-link {
    color: var(--text-light);
    transition: all .3s;
    padding: 0 20px;
    font-size: 1.15rem;
    background: none !important;
}

.products .nav-link span {
    font-weight: 500;
}

.products .nav-link:hover,
.products .nav-link.active {
    color: var(--primary);
}

.products .owl-carousel .owl-item {
    float: unset !important;
    display: inline-block !important;
}

.products .owl-stage {
    white-space: nowrap;
}

.products .tab-content {
    /* padding-top: 60px */
    padding-top: 20px
}

.products .tab-content .row .col-lg-4 {
    padding: 8px;
}

.products .tab-content .card {
    border-radius: 17px;
    height: 90%;
    display: flex;
    align-items: self-end;
    flex-direction: unset;
    padding: 18px 18px 0 18px;
    overflow: hidden;
    transition: all 0.2s ease-out;
    /* border: 1px solid rgba(204, 204, 204, 0) !important; */
    position: relative;
    max-width: 274px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.products .tab-content .card::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(325deg, rgba(255, 255, 255, 1) 0%, rgba(62, 58, 67, 0) 100%);
    opacity: .4;
}

.products .tab-content .card a {
    text-decoration: unset;
    position: relative;
    z-index: 999;
    align-items: flex-end;
}

.products .tab-content .card:hover {
    position: relative;
    /* top: -1px;
    border: 1px solid rgba(204, 204, 204, 0.75) !important;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2); */
}

.products .tab-content .text-box {
    width: 100%;
    overflow: hidden;
    max-width: 55%;
    position: relative;
    padding-bottom: 50px;
}

.products .tab-content .text-box .icon_box {
    position: absolute;
    bottom: 14px;
    width: 100%;
    left: 0;
    display: flex;
    align-items: center;
}

.products .tab-content .text-box .icon_box i {
    min-width: 24px;
}

.products .tab-content .text-box .icon_box i img {
    width: 16px;
}

.products .tab-content .text-box .icon_box i img.ionic {
    width: 20px;
}

.products .tab-content .text-box h2 {
    margin: 0;
    color: #000;
    font-size: 1.3rem;
    padding-bottom: 6px;
    /* opacity: .6; */
}

.products .tab-content .text-box h3 {
    margin: 0;
    color: #000;
    font-size: .97rem;
    font-weight: 500;
    /* opacity: .6; */
    line-height: 21px;
}

.products .tab-content .card .img_box {
    min-width: 100px;
    margin-left: auto;
    overflow: hidden;
    transition: all .5s;
    min-height: 92px;
    max-width: 128px;
    display: flex;
    align-items: flex-end;
    border-radius: 10px 10px 0 0;
    /* background-color: #f5f5f5a1; */
    background-image: url(../images/mockup.png);
    background-size: contain;
    background-position: bottom;
}


/* .products .tab-content .tab-pane .card .img_box img {
    animation: fadeInUp .5s both 0.1s;
} */

.products .tab-content .card:hover .img_box {
    /* box-shadow: -25px 18px 37px -10px rgba(158, 158, 158, 0.27); */
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    box-shadow: 10px 10px 18px -3px rgba(117, 117, 117, 0.75);
    transform: scale(1.098);
}

.products .btn_box .primary_button.btn-outline {
    border: 0 none !important;
    background: var(--bg-color) !important;
}

.about {
    background: var(--white);
    position: relative;
}

.about::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* height: calc(100% - 111px); */
    height: calc(100% - 0px);
    background: var(--bg-color);
}

.about p {
    margin: 0;
    font-weight: 500;
    font-size: 1rem;
    color: var(--text-black);
    padding-bottom: 13px;
    padding-top: 8px;
}

.about .happy_clients .row {
    margin: -8px;
}

.about .happy_clients .col-sm-3 {
    padding: 8px;
}

.about .text_box {
    width: 100%;
    color: var(--text-black);
    background: var(--white);
    border-radius: 18px;
    display: flex;
    align-content: center;
    height: 150px;
    /* max-width: 176px; */
}

.about .text_box h2 {
    margin: auto;
    font-size: 2.3rem;
    font-weight: 600;
}

.about .text_box h2 span {
    display: block;
    text-align: center;
    color: var(--text-light);
    font-size: .95rem;
    font-weight: 600;
    padding-top: 18px;
}

.what_we_offer {
    background: var(--white);
}

.what_we_offer .row .card {
    padding-top: 35px;
}

.what_we_offer .icon_box img {
    max-width: 70px;
}

.what_we_offer .row h2 {
    margin: 0;
    font-size: 1.35rem;
    font-weight: 600;
    color: var(--text-black)
}

.what_we_offer .row p {
    margin: 0;
    font-weight: 500;
    font-size: .95rem;
    color: var(--text-black);
}

.product_introduced {
    background: var(--white);
}

.product_introduced .introduced {
    position: relative;
    /*    overflow: hidden;*/
}

.product_introduced .introduced::before {
    content: '';
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    width: 2px;
    height: 100%;
    margin: auto;
    border-left: 1.5px dotted #E6E6E6;
}

.product_introduced .introduced.testing::before {
    display: none !important;
}

.product_introduced .progressTracker h2 {
    background: var(--white);
    border-radius: 50%;
    color: var(--primary);
    position: relative;
    z-index: 99;
    width: 80px;
    height: 80px;
    line-height: 80px;
    box-shadow: 0 0px 11px 7px rgba(0, 0, 0, 0.03);
    font-size: 2.1rem;
}

.product_introduced .introduced:hover .progressTracker h2 {
    background: var(--primary);
    color: var(--white);
    transition: all .5s;
    box-shadow: 0 0px 12px 10px rgba(0, 0, 0, 0.03);
}

.product_introduced .introduced p {
    margin: 0;
    color: var(--text-light);
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 35px;
    letter-spacing: .2px;
}

.product_introduced .introduced h3 {
    color: var(--text-black);
    margin: 0;
    padding-bottom: 20px;
    font-size: 2.1rem;
}

.testimonials {
    background: var(--bg-color);
}

.testimonials .heading_box {
    padding-left: 17%;
}

body[dir="rtl"] .testimonials .heading_box {
    padding-left: 0;
    padding-right: 17%;
}

.testimonials .owl-carousel .item .background_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.testimonials .owl-carousel .item .background_img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.testimonials .owl-carousel .item .background_img img:last-child {
    display: none;
}

.testimonials .owl-carousel .item .text_box {
    text-align: left;
    position: relative;
    padding: 20px;
    z-index: 99;
}

.testimonials .owl-carousel .item .text_box p {
    /* display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden; */
    font-size: .8rem;
    font-weight: 500;
    margin: 0;
    margin-bottom: 4px;
    color: var(--text-black);
}

.testimonials .owl-carousel .item .text_box h2 {
    margin: 0;
    font-size: 1.1rem;
    color: var(--text-black);
}

.testimonials .owl-carousel .owl-dots {
    margin: 0;
    position: absolute;
    width: 100%;
    bottom: -5px;
}

.testimonials .owl-carousel .owl-dots .owl-dot {
    border: 0;
    outline: none;
    width: 16px;
}

.testimonials .owl-carousel .owl-dots .owl-dot top {
    width: 8px;
    height: 8px;
}

.contact_us {
    background: var(--white);
}

footer {
    background: var(--bg-color);
}

.subscribe_us form .form-control {
    background: var(--white) !important;
    border-radius: 50px;
    height: 55px;
    min-height: 55px;
}

.subscribe_us form .primary_button {
    border-radius: 50px !important;
    width: fit-content;
    min-width: 180px;
    margin-top: 19px;
}

.subscribe_us form.bg-transparent .form-group input {
    background: var(--white) !important;
    border-radius: 15px !important;
}

footer .contacts .box {
    padding-bottom: 15px;
}

footer .contacts .box h2 {
    color: var(--text-light);
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0;
}

footer .contacts .box .icon_box {
    margin: 0 -10px;
}

footer .contacts .box .icon_box a {
    text-align: center;
    padding: 0 10px;
}

footer .contacts .box .icon_box a img {
    width: 24px;
}

footer .contacts .box .icon_box a i {
    width: 20px;
    color: var(--text-light);
    font-size: 1.5rem;
    text-align: center;
}

footer .contacts .box h3 {
    margin: 0;
    color: var(--text-black);
    font-weight: 600;
    font-size: 1.25rem;
}

footer .contacts .box h3 a {
    color: var(--text-black);
    text-decoration: none;
}

footer .img_box {
    position: relative;
    overflow: hidden;
    /*    min-height: 124px;*/
}


/*
footer .img_box img{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
*/

footer .img_box .delivery_boy {
    position: absolute;
    bottom: 0;
    transition: all .3s;
    width: fit-content;
    left: -20%;
    animation: code 8s linear infinite;
    z-index: 99;
}

footer .img_box .delivery_boy img {
    position: relative;
}

#products_btn_box .btn-outline:nth-child(2) {
    display: none;
}

#products_btn_box.fullHight .btn-outline:nth-child(1) {
    display: none;
}

#products_btn_box.fullHight .btn-outline:nth-child(2) {
    display: block;
}

#All_Products .container-fluid {
    /* max-height: 979px; */
    max-height: 1039px;
    overflow: hidden;
    transition: all .5s;
}

#All_Products.fullHight .container-fluid {
    max-height: unset;
}

button,
a {
    outline: none !important;
}

.page-appInfo .banner {
    /* min-height: calc(100vh - 60px); */
    /* min-height: calc(100vh - 0px); */
    background: var(--white);
}

.page-appInfo .banner .banner-footer {
    /* position: absolute; */
    bottom: 23px;
    left: 0;
    width: 100%;
}

.page-appInfo .banner .banner-footer h2 {
    color: var(--text-light);
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0 13px;
    margin: 0;
}

.page-appInfo .banner .banner-footer .icon_box {
    margin: 0 -10px;
}

.page-appInfo .banner .banner-footer .icon_box a {
    text-align: center;
    padding: 0 10px;
    text-decoration: none;
}

.page-appInfo .banner .banner-footer .icon_box {
    text-align: center;
    padding: 0 10px;
}

.page-appInfo .banner .banner-footer .icon_box a img {
    width: 24px;
}

.page-appInfo .banner .banner-footer h4 a {
    color: var(--primary);
    text-decoration: none;
    font-size: 1.1rem;
}

.page-appInfo .banner .banner-footer h4 a i {
    min-width: 26px;
    text-align: right;
}

.get_it_app .primary_button {
    padding: 6px 23px;
    border-radius: 7px!important;
    background: #000;
    top: 0 !important;
    height: 63px;
    box-shadow: 0 20px 30px -5px rgb(0 0 0 / 20%) !important;
    width: fit-content;
    min-width: 210px;
}

.get_it_app .primary_button span {
    display: block;
}

.get_it_app .primary_button span small {
    display: block;
    font-weight: 400;
    font-size: .7rem;
    text-transform: uppercase;
    padding-bottom: 4px;
}

.get_it_app .primary_button span {
    line-height: normal;
    font-size: .8rem;
    display: block;
}

.get_it_app .primary_button span strong {
    font-size: 1.35rem;
    font-weight: 500;
    line-height: 17px;
}

.get_it_app .primary_button img {
    width: 30px;
    display: block;
    margin-right: 7px;
}

.get_it_app .primary_button.codecanyon_btn {
    background: #f69920;
    box-shadow: 0 20px 30px -5px #f69920a6 !important;
}

.get_it_app .primary_button.codecanyon_btn img {
    width: 36px;
}

.get_it_app .primary_button.codecanyon_btn span strong {
    font-weight: 400;
}

.page-appInfo .banner .banner_text h1 {
    color: var(--text-dark);
    padding-bottom: 11px;
}

.page-appInfo .banner .banner_text h3 {
    margin: 0;
    color: var(--text-light);
    font-size: 1rem;
    padding-bottom: 4px;
    text-transform: uppercase;
    letter-spacing: 4.5px;
    font-weight: 600;
    opacity: .5;
}

 .banner .banner_text p {
    color: var(--text-light);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .5px;
    line-height: 27px;
    visibility: visible !important
}

.wow {
    visibility: visible !important;
}

.banner .banner_text p a {
    color: var(--primary);
    text-decoration: none;
    cursor: pointer;
}

.right_row {
    /* position: fixed; */
    position: relative;
    z-index: 9999;
    /* min-height: 100vh; */
    /* width: 50%; */
    width: 100%;
    right: 0;
    bottom: 0px;
    /* background: url('../images/background_bg.png'); */
    background-position: center;
    background-position-y: bottom;
    background-size: contain;
    background-color: var(--bg-white);
    background-repeat: no-repeat;
    /* height: 100%; */
}

.right_row_inner {
    border-radius: 20px;
    width: 100%;
    overflow: hidden;
    background: #40a1d6;
    position: relative;
}

.right_row_inner.right_row_innerMovile {
    width: calc(100% - 20px);
    margin: 0 auto;
}

.interactWithScreen {
    background: rgb(0 0 0 / 39%) !important;
    backdrop-filter: blur(3px);
    position: absolute;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    transition: all .5s;
    overflow: hidden;
    border-radius: 20px;
}

.interactWithScreen.active {
    width: 100%;
    height: 100%;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .interactWithScreen {
        -webkit-backdrop-filter: blur(21px);
        backdrop-filter: blur(21px);
    }
}


/* slightly transparent fallback for Firefox (not supporting backdrop-filter) */

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .interactWithScreen {
        background-color: rgba(0, 0, 0, 0.603);
    }
}

.interactWithScreen .card {
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 11px;
    border: 1px dashed #ffffffa3;
    width: fit-content;
    height: fit-content;
    padding: 40px 40px;
    /* min-width: 300px; */
    display: none;
    transition: all .3s;
    max-width: calc(100% - 35px);
    min-width: calc(100% - 35px);
}

.interactWithScreen.active .card {
    display: block;
}

.interactWithScreen .card h2 {
    text-align: center;
    color: var(--white);
    font-size: 1.55rem;
    font-weight: 500;
    padding-bottom: 18px;
}

.interactWithScreen .card .primary_button {
    top: 0 !important;
    border-radius: 7px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: .89rem;
    letter-spacing: .9px;
    height: 50px;
    width: 163px;
    margin: 0 auto;
}

.interactWithScreen .card img {
    /* position: absolute;
    right: -42px;
    top: 153px;
    width: 133px; */
    position: absolute;
    right: -13px;
    top: 153px;
    width: 89px;
    -webkit-animation: handImg 2s both alternate infinite;
    animation: handImg 2s both alternate infinite;
    -webkit-animation: handImg 2s both alternate infinite;
    animation: handImg 2s both alternate infinite;
}

@keyframes handImg {
    0% {
        -webkit-transform: translate(0px, -40px);
        -ms-transform: translate(0px, -40px);
        transform: translate(0px, -40px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.right_row .tab-content {
    position: relative;
}

.right_row .tab-content .tab-pane {
    position: relative;
    z-index: 11;
}

.tabContentBg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: calc(100% - 100px);
}

.tabContentBg img {
    width: 100%;
    max-width: 650px;
}

.page-appInfo iframe {
    margin: auto;
    display: block;
    bottom: -11px;
    background-color: transparent!important;
    /* height: calc(100vh - 159px); */
    left: 0;
    right: 0;
    height: 654px;
    width: auto;
}

.right_row_header h2 {
    color: var(--white);
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: .5px;
}

.page-appInfo .banner iframe {
    width: auto;
}

.btn_box.get_it_app {
    width: fit-content;
}

.right_row_header .owl-stage {
    margin: 0 auto !important;
    display: flex;
    align-items: center;
}

.right_row_header .owl-stage .owl-item {
    display: inline-block !important;
}

.right_row_header .owl-stage .owl-item .nav-link {
    color: var(--white) !important;
    height: 39px;
    font-size: .95rem;
    border-radius: 50px;
    white-space: nowrap;
    line-height: 40px;
    min-width: 122px;
    text-align: center;
    display: flex;
    align-items: center;
    background: #ffffff2e !important;
    position: relative;
    overflow: hidden;
    font-weight: 400;
    transition: all .7s;
    margin: 0 auto;
    width: fit-content;
    letter-spacing: .5px;
}

.right_row_header .owl-stage .owl-item .nav-link span {
    display: block;
    margin: auto;
    line-height: normal;
    position: relative;
    z-index: 2;
}

.right_row_header .owl-stage .owl-item .nav-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    background: var(--white);
    border-radius: 50px;
    transition: all .4s;
    margin: auto;
}

.right_row_header .owl-stage .owl-item .nav-link.active {
    background-color: var(--white) !important;
    color: #40a1d6 !important;
}

.right_row_header .owl-stage .owl-item .nav-link.active::before {
    width: 100%;
    height: 100%;
}

.right_row_header .owl-stage .owl-item .nav-link .page-appInfo iframe body {
    background-color: transparent!important;
}

.right_row_header .owl-carousel .owl-next,
.right_row_header .owl-carousel .owl-prev {
    position: absolute;
    top: 4px;
    left: 0;
    margin: 0 !important;
    min-width: 30px;
    border-radius: 50% !important;
    height: 30px;
    text-align: center;
    display: flex !important;
    align-items: center;
    align-self: center;
    font-size: 1.5rem !important;
    color: var(--white) !important;
    background: rgba(0, 0, 0, 0.212) !important;
    backdrop-filter: blur(3px);
    opacity: 1;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.right_row_header .owl-carousel .owl-next .nav-btn,
.right_row_header .owl-carousel .owl-prev .nav-btn {
    display: block;
    margin: auto;
    height: 30px;
    overflow: hidden;
}

.right_row_header .owl-carousel .owl-next .nav-btn i,
.right_row_header .owl-carousel .owl-prev .nav-btn i {
    height: 23px;
    overflow: hidden;
    width: 30px;
    text-align: center;
}

.right_row_header .owl-carousel .owl-next {
    position: absolute;
    top: 11px;
    right: 0;
    left: unset;
}

.right_row_header .owl-carousel .owl-stage-outer {
    /* padding: 0 35px; */
}

.right_row_header .owl-carousel .owl-next.disabled,
.right_row_header .owl-carousel .owl-prev.disabled {
    display: none !important;
}

.download_app_demo {
    position: fixed;
    right: -100%;
    top: 0;
    width: 50%;
    min-height: calc(100vh - 0px);
    /* max-height: calc(100vh - 0px); */
    background: rgb(0 0 0 / 40%);
    backdrop-filter: blur(20px);
    z-index: 999999;
    transition: all .5s;
    height: 100%;
}

.download_app_demo form .form-group textarea,
.download_app_demo form .form-group input {
    background: none !important;
    border-bottom: 1px solid #ffffff85 !important;
    border-radius: 0 !important;
    padding: 0;
    color: var(--white) !important;
    font-weight: 400;
    font-size: .94rem !important;
    min-height: 37px;
    margin-bottom: 35px;
    padding-bottom: 7px;
    letter-spacing: .5px;
}

.download_app_demo form .form-group textarea::-webkit-input-placeholder,
.download_app_demo form .form-group input::-webkit-input-placeholder {
    color: var(--white)!important;
    font-weight: 400!important;
    opacity: 1!important;
    letter-spacing: 1px;
}

.download_app_demo form .form-group textarea:-ms-input-placeholder,
.download_app_demo form .form-group input:-ms-input-placeholder {
    color: var(--white)!important;
    font-weight: 400!important;
    opacity: 1!important;
    letter-spacing: 1px;
}

.download_app_demo form .form-group textarea::placeholder,
.download_app_demo form .form-group input::placeholder {
    color: var(--white)!important;
    font-weight: 400!important;
    opacity: 1!important;
    letter-spacing: 1px;
}

.products.similar_apps {
    background: #f6f6f6;
}

.products.similar_apps .similar_apps_heading {
    color: var(--text-light);
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0 13px;
    margin: 0;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .download_app_demo {
        -webkit-backdrop-filter: blur(21px);
        backdrop-filter: blur(21px);
    }
}


/* slightly transparent fallback for Firefox (not supporting backdrop-filter) */

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .download_app_demo {
        background-color: #666;
    }
}

.download_app_demo.active {
    right: 0;
}


/* .download_app_demo .media {
    align-items: center;
} */

.download_app_demo .media .media-body {
    width: 100%;
}

.download_app_demo .media .btn.primary_button {
    padding: 6px 23px;
    border-radius: 7px!important;
    background: #000;
    top: 0 !important;
    height: 63px;
    /* box-shadow: 0 20px 30px -5px rgb(0 0 0 / 20%) !important; */
    width: fit-content;
    min-width: 210px;
}

.download_app_demo .media .btn.primary_button img {
    width: 30px;
    display: block;
    margin-right: 7px;
}

.download_app_demo .media .btn.primary_button span {
    line-height: normal;
    font-size: .8rem;
    display: block;
}

.download_app_demo .media .btn.primary_button small {
    display: block;
    font-weight: 400;
    font-size: .7rem;
    text-transform: uppercase;
    padding-bottom: 4px;
}

.download_app_demo .media .btn.primary_button strong {
    font-size: 1.35rem;
    font-weight: 500;
    line-height: 17px;
}

.download_app_demo .media .btn.primary_button.codecanyon_btn {
    background: #f69920;
    border-color: #f69920 !important;
}

.download_app_demo .media .btn.primary_button.codecanyon_btn strong {
    font-weight: 400;
}

.download_app_demo .media .btn.primary_button.contact_us {
    background: var(--primary);
    border-color: var(--primary) !important;
    text-transform: uppercase;
    font-size: .95rem !important;
    letter-spacing: .5px;
    height: 63px;
    width: fit-content;
    min-width: 210px;
}

.download_app_demo .media .btn.primary_button.contact_us a {
    position: relative;
    text-align: center;
    display: block;
    line-height: 54px;
    font-size: .95rem !important;
    letter-spacing: .5px;
}

.download_app_demo .download_app_demo_header h2 {
    font-size: 1.8rem;
    letter-spacing: .5px;
}

.download_app_demo .download_app_demo_header .btn {
    display: block;
    box-shadow: none;
    padding: 0;
}

.download_app_demo .download_app_demo_header .btn i {
    color: var(--white);
    font-size: 2.2rem;
    font-weight: 500;
}

.download_app_demo .media_container {
    min-height: calc(100vh - 139px - 8px);
}

.download_app_demo .media_container .media_container_inner {
    min-width: 100%;
    max-height: calc(100vh - 139px - 8px);
    overflow: hidden;
    overflow-y: auto;
}

.download_app_demo .media_container .media_container_inner::-webkit-scrollbar {
    display: none;
}

.download_app_demo .media_container .media_container_inner {
    color: var(--white);
    font-size: 2.2rem;
    font-weight: 500;
}

.download_app_demo .media_container .media_container_inner .media .media-body h5 {
    margin: 0;
    color: var(--white);
    font-size: 1.5rem;
    padding-bottom: 12px;
    font-weight: 500;
}

.download_app_demo .media_container .media_container_inner .media .media-body p {
    align-items: center;
    font-size: 1rem;
    color: #cccfd1;
    font-weight: 500;
    letter-spacing: 1px;
}

.download_app_demo .media_container .media_container_inner .media .media-body p img {
    width: 17px;
    min-width: 17px;
}

.download_app_demo .media_container .media_container_inner .media i {
    line-height: 24px;
    min-width: fit-content;
}

.download_app_demo .media_container .media_container_inner .media i img {
    width: 18px;
}

.download_app_demo#contactUS .media {
    padding-left: 11px;
}

.products_page .banner_text h1 {
    font-size: 2.6rem;
    color: var(--text-dark);
    padding-bottom: 11px;
}

.products_page .banner_text h3 {
    color: var(--text-light);
    font-size: 1.15rem;
    font-weight: 500;
    letter-spacing: .5px;
}

.products_page .category_img img {
    max-width: 200px;
    position: relative;
    z-index: 999;
}

.menuButton {
    background: var(--primary);
    position: fixed;
    width: 50px;
    padding: 6px 11px;
    text-align: right;
    border-radius: 0px 50px 50px 0;
    left: 0;
    top: 183px;
    z-index: 99999;
    cursor: pointer;
    transition: all .3s;
}

.menuButton:hover {
    box-shadow: 0 5px 10px -1px rgb(0 0 0 / 20%);
}

.menuButton i {
    color: var(--white);
    font-size: 1.5rem;
    position: relative;
    top: 2px;
}

.categoryMenu {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    min-height: calc(100vh - 0px);
    max-height: calc(100vh - 0px);
    /* background: rgb(167 167 167 / 30%); */
    background: rgb(0 0 0 / 35%);
    backdrop-filter: blur(21px);
    z-index: 99999;
    transition: all .3s ease-out;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .categoryMenu {
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
    }
}


/* slightly transparent fallback for Firefox (not supporting backdrop-filter) */

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .categoryMenu {
        background-color: rgb(88, 88, 88);
    }
}

.dark_theme .categoryMenu {
    background: rgb(167 167 167 / 30%);
}


/* .right_row_header .owl-carousel .owl-next,
.right_row_header .owl-carousel .owl-prev {
    position: absolute;
    top: 11px;
    left: 0;
    margin: 0;
    min-width: 30px;
    border-radius: 50%;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    align-self: center;
    font-size: 1.5rem;
    color: var(--white);
    background: rgba(0, 0, 0, 0.212);
    backdrop-filter: blur(3px);
    opacity: 1;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.right_row_header .owl-carousel .owl-next .nav-btn,
.right_row_header .owl-carousel .owl-prev .nav-btn {
    display: block;
    margin: auto;
    height: 30px;
    overflow: hidden;
}

.right_row_header .owl-carousel .owl-next .nav-btn i,
.right_row_header .owl-carousel .owl-prev .nav-btn i {
    height: 23px;
    overflow: hidden;
    width: 30px;
    text-align: center;
} */

.spinner_box {
    background: var(--white);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: fit-content;
    opacity: 1 !important;
    padding: 24px 49px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 10px rgb(0 0 0 / 10%);
    display: block;
    font-size: 17px;
    color: var(--text-black);
    font-weight: 500;
    width: fit-content;
    z-index: 99;
}

.spinner_box .spinner-border {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
}

.categoryMenu {
    padding: 0 20px;
}

.categoryMenu.active {
    left: 0;
}

.categoryMenu .MenuHeader h2 {
    margin: 0;
    color: #d3d6d7;
    font-size: 1.2rem;
    font-weight: bold;
}

.categoryMenu .MenuHeader h2 span {
    color: var(--white);
    min-width: fit-content;
    cursor: pointer;
    font-size: 1.1rem;
}

.categoryMenu h2.header_text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    /* color: var(--text-light); */
    color: #fff;
    font-size: 21px;
    text-align: right;
    width: fit-content;
    margin: 0;
    padding-left: 16px;
    position: relative;
    top: 71px;
}

.categoryMenu i.zmdi-close-circle {
    font-size: 1.7rem;
    color: var(--white);
    display: block;
    margin: 0 auto;
    position: relative;
    width: fit-content;
    cursor: pointer;
    position: relative;
    top: 69px;
    margin-right: 10px;
    height: fit-content;
}

.categoryMenu .list-group {
    max-height: calc(100vh - 40px);
    overflow: hidden;
    overflow-y: auto;
    padding-right: 15px !important;
}

.categoryMenu .list-group .row {
    margin: 0 -10px!important;
}

.categoryMenu .list-group .row .col-12 {
    padding: 0 10px;
}

.dark_theme .categoryMenu h2.header_text {
    color: var(--text-light);
}


/* SCROLLBAR */


/* Let's get this party started */

.categoryMenu .list-group::-webkit-scrollbar {
    width: 10px;
}


/* Track */

.categoryMenu .list-group::-webkit-scrollbar-track {
    background: rgb(170, 170, 170);
    border: 4px solid transparent;
    background-clip: content-box;
    /* THIS IS IMPORTANT */
}


/* Handle */

.categoryMenu .list-group::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 15px;
    height: 20px;
}

.categoryMenu .list-group .list-group-item {
    background: transparent !important;
    border: 0;
    padding: 0;
    width: 100%;
    position: relative;
    padding: 0 14px 20px 21px;
    margin-bottom: 10px;
    transition: all .5s;
    max-height: calc(100% - 0px);
    overflow: hidden;
}


/* .categoryMenu .list-group .list-group-item:hover{
    transform: scale(1.0);
} */

.categoryMenu .list-group .list-group-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 30px);
    background: rgba(255, 255, 255, 0.021);
    backdrop-filter: blur(1px);
    border-radius: 10px;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .categoryMenu .list-group .list-group-item::before {
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
}


/* slightly transparent fallback for Firefox (not supporting backdrop-filter) */

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .categoryMenu .list-group .list-group-item::before {
        background-color: rgb(153, 153, 153);
    }
}

.categoryMenu .list-group .list-group-item .img_box {
    width: 110px;
    min-width: 110px;
    min-height: 110px;
    text-align: center;
    max-height: 110px;
    position: relative;
    z-index: 99;
    display: flex;
    align-items: flex-end;
    margin-right: 14px !important;
    -webkit-animation: categoryMenuImg 2s both alternate infinite;
    animation: categoryMenuImg 2s both alternate infinite;
}

.categoryMenu .list-group .list-group-item .img_box img {
    display: block;
    margin: 0 auto;
    max-height: 110px;
    /* animation: techstack_1 1s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite; */
}

.categoryMenu .list-group .col-12:nth-child(16) .img_box,
.categoryMenu .list-group .col-12:nth-child(9) .img_box,
.categoryMenu .list-group .col-12:nth-child(8) .img_box,
.categoryMenu .list-group .col-12:nth-child(1) .img_box {
    -webkit-animation: categoryMenuImg 1s both alternate infinite;
    animation: categoryMenuImg 1s both alternate infinite;
}

.categoryMenu .list-group .col-12:nth-child(15) .img_box,
.categoryMenu .list-group .col-12:nth-child(10) .img_box,
.categoryMenu .list-group .col-12:nth-child(7) .img_box,
.categoryMenu .list-group .col-12:nth-child(2) .img_box {
    -webkit-animation: categoryMenuImg 1.3s both alternate infinite;
    animation: categoryMenuImg 1.3s both alternate infinite;
}

.categoryMenu .list-group .col-12:nth-child(14) .img_box,
.categoryMenu .list-group .col-12:nth-child(11) .img_box,
.categoryMenu .list-group .col-12:nth-child(6) .img_box,
.categoryMenu .list-group .col-12:nth-child(3) .img_box {
    -webkit-animation: categoryMenuImg 1.6s both alternate infinite;
    animation: categoryMenuImg 1.6s both alternate infinite;
}

.categoryMenu .list-group .col-12:nth-child(13) .img_box,
.categoryMenu .list-group .col-12:nth-child(12) .img_box,
.categoryMenu .list-group .col-12:nth-child(5) .img_box,
.categoryMenu .list-group .col-12:nth-child(4) .img_box {
    -webkit-animation: categoryMenuImg 2s both alternate infinite;
    animation: categoryMenuImg 2s both alternate infinite;
}

@keyframes categoryMenuImg {
    0% {
        -webkit-transform: translate(0px, 10px);
        -ms-transform: translate(0px, 10px);
        transform: translate(0px, 10px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.categoryMenu.active .list-group .list-group-item .img_box img {
    animation: fadeInUp 1s both 0.1s;
}

.categoryMenu .list-group .list-group-item .item-header {
    padding-bottom: 5px;
    align-items: flex-end;
    position: relative;
    z-index: 99;
}

.categoryMenu .list-group .list-group-item .item-header h5 {
    margin: 0;
    color: var(--white);
    font-size: 1.1rem;
    margin: 0 !important;
    padding-top: 25px;
}

.categoryMenu .list-group .list-group-item .text_box {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 99;
    position: relative;
}

.categoryMenu .list-group .list-group-item .text_box h5 {
    margin: 0;
    color: var(--white);
    font-size: 1.1rem;
    padding-bottom: 5px;
    margin: 0 !important;
    max-width: calc(100% - 110px);
}

.categoryMenu .list-group .list-group-item .text_box p {
    margin: 0;
    color: #dddedf;
    font-size: .75rem;
    font-weight: 400;
    max-width: calc(100% - 0px);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 36px;
    max-width: calc(100% - 30px);
}

.darkTheme_lightThemeButton {
    background: #bbcfd9;
    border-radius: 50px;
    width: fit-content;
    padding: 8px 5px;
    cursor: pointer;
    position: relative;
}

.darkTheme_lightThemeButton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 3px;
    bottom: 0;
    margin: auto 0;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background: var(--bg-color);
    transition: all .3s;
}

.darkTheme_lightThemeButton i {
    color: var(--white);
    min-width: 27px;
    text-align: center;
    font-size: 1rem;
    position: relative;
    z-index: 99;
    top: 1px;
}

.darkTheme_lightThemeButton i.zmdi-sun {
    position: relative;
    left: -2.2px;
}

.darkTheme_lightThemeButton i.zmdi-brightness-3 {
    transform: rotate( 150deg) !important;
}

.darkTheme_lightThemeButton i:first-child {
    color: #bbcfd9;
}

.dark_theme .darkTheme_lightThemeButton::before {
    left: 34px;
}

.dark_theme .darkTheme_lightThemeButton i:first-child {
    color: var(--white);
}

.dark_theme .darkTheme_lightThemeButton i:last-child {
    color: #bbcfd9;
}

.navbar-brand img:last-child {
    display: none;
}

.dark_theme h3.sub_heading {
    color: var(--text-light) !important;
}

.page-appInfo.dark_theme {
    background: var(--bg-color) !important;
}

.page-appInfo.dark_theme .right_row_container {
    background: var(--bg-color) !important;
}

.page-appInfo header {
    background: var(--white);
}

.dark_theme .spinner_box {
    background: var(--bg-color) !important;
}

.delivery_boy {
    max-width: 250px;
}

footer {
    background: url(../images/footer.png);
    background-color: var(--bg-color);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: bottom;
    padding-bottom: 150px;
    width: 100%;
    overflow: hidden;
    max-width: 100%;
}

.navbar-brand img {
    max-width: 275px;
}

footer .delivery_boy {
    position: absolute;
    bottom: 0px;
    transition: all .3s;
    width: fit-content;
    left: -20%;
    animation: code 12s linear infinite;
    animation-name: code;
    z-index: 99;
}

.testimonials .owl-carousel .item .item_inner {
    position: relative;
    min-height: 241px;
    max-width: 350px;
    margin: 0 auto;
}

.products_page .banner {
    position: relative;
}

.products_page .banner::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 22px;
    background: var(--white);
}

.home_page .banner .banner_img img {
    /* animation: techstack_1 1s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite; */
    -webkit-animation: banner_img 2s both alternate infinite;
    animation: banner_img 2s both alternate infinite;
}
.about .img_box  img {
    /* animation: techstack_1 1s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite; */
    -webkit-animation: banner_img 2s both alternate infinite;
    animation: banner_img 2s both alternate infinite;
}
.contact_us .img_box  img {
    /* animation: techstack_1 1s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite; */
    -webkit-animation: banner_img 2s both alternate infinite;
    animation: banner_img 2s both alternate infinite;
}
.get_it_app2 {
    background: var(--bg-color);
    border-radius: 6px;
    padding: 7px 10px;
    margin-bottom: 13px;
}

.btn_box.get_it_app2 .row {
    margin: 0 !important;
    align-items: center!important;
}

.get_it_app2 h4 {
    margin: 0;
    color: var(--text-light);
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: .3px;
    visibility: visible !important;
    padding: 0;
    margin: 0;
}

.get_it_app2 .primary_button {
    padding: 0;
    top: 0 !important;
    height: auto;
    border-radius: 9px !important;
    overflow: hidden;
    width: fit-content;
    background: none !important;
}

.page-appInfo .banner_text .icon_box a {
    text-align: center;
    padding: 0 10px;
}

.page-appInfo .banner_text .icon_box a i {
    width: 20px;
    color: var(--text-light);
    font-size: 1.5rem;
    text-align: center;
}

@keyframes banner_img {
    0% {
        -webkit-transform: translate(0px, -20px);
        -ms-transform: translate(0px, -20px);
        transform: translate(0px, -20px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.subscribe_us {
    background: var(--bg-color);
}

.dark_theme {
    --white: #fff!important;
    --bg-color: #252628 !important;
    --bg-dark: #090909 !important;
    --text-light: #a8a9ab!important;
    --text-black: #fff!important;
}

.dark_theme .darkTheme_lightThemeButton {
    background: var(--bg-color) !important;
}

.page-appInfo.dark_theme.page-appInfo .banner {
    background: var(--bg-color) !important;
}

.dark_theme.page-appInfo .banner header {
    background: var(--bg-color) !important;
}

.dark_theme.page-appInfo .get_it_app2 {
    background: #363636 !important;
}

.dark_theme .right_row {
    background-color: var(--bg-color) !important;
    /* background: url(../images/bg_dark.png); */
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.dark_theme .navbar-brand img:first-child {
    display: none;
}

.dark_theme .navbar-brand img:last-child {
    display: inline-block;
}

.dark_theme.page-appInfo .banner .banner_text h1 {
    color: var(--text-black);
}

.dark_theme .get_it_app .primary_button.btn_GooglePlay {
    box-shadow: 0 20px 30px -5px rgb(141 135 135 / 20%) !important;
}

.dark_theme .right_row_header .owl-stage .owl-item .nav-link {
    background: var(--bg-color) !important;
}

.dark_theme .right_row_header .owl-stage .owl-item .nav-link.active {
    background: var(--primary) !important;
}

.dark_theme.products_page .darkTheme_lightThemeButton {
    background: var(--bg-dark) !important;
}

.dark_theme.products_page .products {
    background: var(--bg-dark) !important;
}

.products_page .banner_text h1 {
    color: var(--text-black);
}

.dark_theme .about .text_box {
    background: var(--bg-dark) !important;
}

.dark_theme .banner .banner_text h3 {
    color: var(--text-light);
    opacity: 1;
}

.dark_theme .about p {
    color: var(--text-light);
}

.dark_theme .subscribe_us form .form-control {
    background: var(--bg-dark) !important;
}

.dark_theme .darkTheme_lightThemeButton {
    background: var(--bg-dark) !important;
}

.dark_theme .testimonials .owl-carousel .item .background_img img:last-child {
    display: block;
}

.dark_theme .testimonials .owl-carousel .item .background_img img:first-child {
    display: none;
}

.dark_theme .product_introduced .introduced .progressTracker h2 {
    background: var(--bg-dark) !important;
    box-shadow: 0 0px 10px 10px rgb(0 0 0);
}

.dark_theme footer {
    background: url(../images/dark_footer.png);
    background-color: var(--bg-color);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: bottom;
    padding-bottom: 150px;
}

.dark_theme .navbar-brand img:last-child {
    display: inline;
}

.dark_theme .navbar-brand img:first-child {
    display: none;
}

.dark_theme .products {
    background: var(--bg-dark) !important;
}

.dark_theme .about {
    background: var(--bg-dark) !important;
}

.dark_theme .contact_us {
    background: var(--bg-dark) !important;
}

.dark_theme .product_introduced {
    background: var(--bg-dark) !important;
}

.dark_theme.products_page .banner::after {
    background: var(--bg-dark) !important;
}

.dark_theme.products {
    background: var(--bg-dark) !important;
}

.dark_theme.products_page {
    min-height: 100vh;
    background: var(--bg-dark) !important;
}

.dark_theme.home_page {
    background: var(--bg-dark) !important;
}

.dark_theme .products.similar_apps {
    background: var(--bg-color) !important;
}

.download_app_demo#contactUS .media .btn.primary_button.contact_us {
    height: 50px;
    min-width: 170px;
}

.download_app_demo#contactUS .media .btn.primary_button.contact_us a {
    line-height: 38px;
    font-size: .95rem !important;
    text-transform: capitalize;
    font-weight: 500;
}


/* slightly transparent fallback for Firefox (not supporting backdrop-filter) */

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .dark_theme .download_app_demo {
        background-color: var(--bg-color);
    }
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .dark_theme .categoryMenu {
        background-color: var(--bg-color);
    }
}

@keyframes code {
    0% {
        left: -10%;
    }
    50% {
        left: 50%;
    }
    100% {
        left: 100%;
    }
}

@media (max-width: 576px) {
    header .follow_us {
        display: none;
    }
    header .navbar .navbar-brand img {
        max-width: 250px;
    }
    footer .navbar-brand img{
        max-width: 250px;
    }
    footer .navbar-brand{
        text-align: center;
    }

}

@media (max-width: 768px) {
    .navbar .container-fluid {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

@media (max-width: 991px) {
    .primary_button {
        font-size: 1rem;
    }
    .banner {
        padding-bottom: 0;
    }
    .testimonials .owl-carousel .owl-dots {
        padding-right: 30px;
        text-align: right;
    }
    .testimonials .text_box {
        margin: 0 auto;
        max-width: 92%;
    }
    .testimonials .heading_box {
        padding-left: 6%;
    }
    .download_app_demo {
        width: 100% !important;
    }
    body[dir="rtl"] .testimonials .heading_box {
        padding-left: 0%;
        padding-right: 6%;
    }
    .banner .banner_text h3 {
        text-align: center;
    }
    .product_introduced .introduced::before {
        display: none;
    }
    .product_introduced .introduced h3 {
        padding-bottom: 11px;
        font-size: 1.8rem;
    }
    .product_introduced .introduced p {
        font-size: 1rem;
        line-height: 28px;
        letter-spacing: 0;
    }
}

@media (max-width: 1100px) {
    h2.heading {
        font-size: 2.1rem;
    }
    h3.sub_heading {
        font-size: 1.14rem;
    }
    .what_we_offer .row h2 {
        font-size: 1.1rem;
    }
}

@media (max-width: 1200px) {
    .banner .banner_text h1 {
        font-size: 2.1rem;
    }
    .banner .banner_text h3 {
        font-size: 1.1rem;
    }
}

@media (max-width: 767px) {
    .testimonials .heading_box {
        padding-left: 2%;
    }
    .page-appInfo .banner .banner-footer {
        position: relative;
    }
    body[dir="rtl"] .testimonials .heading_box {
        padding-left: 0;
        padding-right: 2%;
    }
    .products .row .carousel_btn i {
        background: var(--primary);
        color: var(--white) !important;
    }
}

@media (min-width: 320px) {
    .download_app_demo .media .btn.primary_button {
        margin-left: 34px !important;
    }
}

@media (min-width: 768px) {
    .download_app_demo .media .btn.primary_button {
        margin-left: auto !important;
        margin-right: 0 !important;
    }
    /* .categoryMenu {
        max-width: 428px;
    } */
    .subscribe_us form {
        flex-wrap: nowrap;
    }
    .subscribe_us form .primary_button {
        margin-top: 0;
    }
    .subscribe_us form .form-group {
        width: 100%;
        padding-right: 13px;
    }
    .ThemeButtonBox {
        position: absolute;
        width: fit-content;
        right: 29px;
        top: 1px;
        padding-bottom: 0 !important;
    }
    .contactUS_footer_img {
        max-width: 250px;
        position: relative;
        top: -48px;
    }
    .download_app_demo#contactUS .media {
        padding-left: 30px;
    }
}

@media (min-width: 990.98px) {
    .page-appInfo .banner {
        min-height: 100vh !important;
    }
    .page-appInfo iframe {
        height: calc(100vh - 177px) !important;
    }
    .products_page .category_img {
        margin-right: 0 !important;
        margin-left: auto !important;
        position: relative;
        z-index: 9999;
    }
    .menuButton {
        width: 75px;
        padding: 13px 20px;
        top: 156px;
    }
    .menuButton i {
        font-size: 1.8rem;
        top: 1px;
        text-align: center;
        display: block;
        width: 100%;
        right: 5px;
    }
    .download_app_demo#contactUS .media {
        padding-left: 18px;
    }
}

@media (min-width: 1200px) {
    .download_app_demo#contactUS .media {
        padding-left: 12.5%;
    }
}

@media (min-width: 767.5px) {
    footer {
        background-size: cover !important;
        background-repeat-x: no-repeat !important;
        padding-bottom: 78px!important;
    }
}

@media (min-width: 499.5px) {
    .testimonials .owl-carousel .item .item_inner {
        position: relative;
        min-height: 284px;
        max-width: 375px;
        margin: 0 auto;
    }
    .products .tab-content .card {
        max-width: 350px;
        margin: 0 auto;
        margin-bottom: 18px;
    }
    .products .tab-content .card .img_box {
        min-width: 140px;
        max-width: 140px;
        border-radius: 10px 10px 0 0;
        min-height: 179.25px;
    }
    #All_Products .container-fluid {
        max-height: 1062px;
    }
    .interactWithScreen .card img {
        right: -8px;
        width: 131px;
    }
}

@media (min-width: 991.5px) {
    .about::before {
        height: calc(100% - 175px) !important;
    }
}

@media (min-width: 667.5px) {
    .testimonials .owl-carousel .item {
        min-height: 330px;
    }
    .testimonials .owl-carousel .item .text_box p {
        font-size: .83rem;
        line-height: 26px;
    }
    .products .tab-content .card {
        width: 100%;
        margin: 0;
        max-width: 100%;
        margin-bottom: 30px;
    }
    #All_Products .container-fluid {
        max-height: 1108px;
    }
    .products .tab-content .card a {
        align-items: unset;
    }
    .interactWithScreen .card {
        max-width: 300px;
        min-width: 300px;
    }
    .interactWithScreen .card img {
        right: -45px;
    }
}

@media (min-width: 989.5px) {
    footer {
        padding-bottom: 200px!important;
    }
    .products .tab-content .card .img_box {
        min-width: 155px;
        max-width: 155px;
        border-radius: 26px 26px 0 0;
        min-height: 197.25px;
    }
    #All_Products .container-fluid {
        max-height: 1211px;
    }
    .products .tab-content {
        padding-top: 60px;
    }
}

body[dir="rtl"] footer .contacts .box h3.ml-auto {
    margin-left: 0 !important;
    margin-right: auto !important;
}

body[dir="rtl"] footer .contacts {
    margin-left: 0 !important;
    margin-right: auto !important;
}

body[dir="rtl"] footer .icon_box {
    margin-left: 0 !important;
    margin-right: auto !important;
}

html {
    scroll-behavior: smooth;
}

.team_member .img_of_member{
    max-height: 267px;
    overflow: hidden;
    border-radius: 10px;
}
.team_member .card{
    border: none;
    border-radius: 10px;
    background-color: #222222;
    color: white;
    margin-bottom: 20px;
}
.team_member .card:hover .img_box {
    /* box-shadow: -25px 18px 37px -10px rgba(158, 158, 158, 0.27); */
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    box-shadow: 10px 10px 18px -3px rgba(117, 117, 117, 0.75);
    transform: scale(1.098);
}
.team_member .card .work_name span{
    font-family: 'Tajawal', sans-serif;
    color: var(--primary);
}
.about_us{
    color:white;
}
.about_us p{
    color:var(--text-light);
}
.partner_section .card{
    background-color: var(--bg-dark);
}
.partner_section{
    background-color: var(--bg-color);
}
.language_dropdown{
    background: none !important;
    border: none !important;
}
.language_dropdown.dropdown-toggle::after{
    display: none;
}
.language_dropdown.dropdown-toggle:focus{
    outline: unset;
}
.dropdown-menu ul {
    list-style: none;
    padding-right: 0px;
}
.dropdown-menu ul li a {
color: black;
}
.social{
    z-index: 10;
    position: fixed;
    left: 0;
    top: 40%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 1.5em 0.7em 0.5em;
    border-radius: 0 1em 1em 0;
    background: #faa61a;
    padding-top: 0px;
    padding-bottom: 0px;
    /* border-radius: 22px; */
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
.social ul{
    list-style: none;
    padding: 0px;
    margin-top: 15px;
}
.social ul li{
    margin-top: 15px;
}
.social ul li img{
    width: 32px;
}
